[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
requests = "*"
psycopg2 = "*"
pandas = "*"
sklearn = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
